<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Profile Page</title>
</head>
<body>
<h2>Welcome to <span th:text="${username}"></span> 's profile</h2>

<p th:text="'First Name : '+ ${firstName}"></p>
<p th:text="'Last Name : '+ ${lastName}"></p>
<p th:text="'Date of birth : '+ ${dateofbirth}"></p>
<p th:text="'Bio '+ ${bio}"></p>


<form th:action="@{/logout}" method="post">
  <input type="submit" value="Sign Out"/>
</form>
</body>
</html>