<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Profile Page</title>
</head>
<body>

<p th:text="'Welcome to '+ ${user.username}+ ' s profile'"></p>
<p th:text="'First Name : '+ ${user.firstName}"></p>
<p th:text="'Last Name : '+ ${user.lastName}"></p>
<p th:text="'Date of birth : '+ ${user.dateOfBirth}"></p>
<p th:text="'Bio '+ ${user.bio}"></p>
<form th:action="@{/logout}" method="post">
  <input type="submit" value="Sign Out"/>
</form>
</body>
</html>