<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>All users</title>
</head>
<body>
<div th:replace="fragments/header :: header">...</div>

<div th:each="user : ${users}">
    <h1 th:text="${user.firstName} + '  ' + ${user.lastName}"></h1>
    <p th:text="'Date of birth: ' + ${user.dateOfBirth}" ></p>
    <p th:text="'Bio: ' + ${user.bio}" ></p>

    <form th:action="@{'/users/follow/'+${user.getId()}}" method="post">
        <input type="submit" value="Follow" />
    </form>


</div>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
</body>
</html>