<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>User Data Page</title>
</head>
<body>

<!--            <h2>Welcome to <span th:text="${user.username}"></span> 's profile</h2>-->
<p th:text="'Welcome to '+ ${user.username}+ ' s profile'"></p>
            <p th:text="'First Name : '+ ${user.firstName}"></p>
            <p th:text="'Last Name : '+ ${user.lastName}"></p>
            <p th:text="'Date of birth : '+ ${user.dateOfBirth}"></p>
            <p th:text="'Bio '+ ${user.bio}"></p>
<!--<p th:text="'pass '+ ${user.password}"></p>-->


</body>
</html>